@page
@model ContactModel
@{
    ViewData["Title"] = "Contact page";
    Layout = "_Layout";
}
<title>Contact page</title>
<body>
    <b>
        <h1 class="text-md-left" style="color: #73FD72 !important">Contact Us: </h1>
    </b>
    <div class="text-md-left">Email: company@domain.com</div>
    <div class="text-md-left">Phone Number: 666777999</div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <b>
        <h2 class="text-md-left" style="color: #73FD72 !important">Find Us At: </h2>
    </b>
    <div class="text-md-left">Facebook: www.facebook.com/company</div>
    <div class="text-md-left">Linkedin: www.linkedin.com/company</div>
    <div class="text-md-left">Youtube: www.youtube.com/company</div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <b>
        <h3 class="text-md-left" style="color: #73FD72 !important">Send Us Stuff: </h3>
    </b>
    <div class="text-md-left">Our PO Box: 4215 Jimmy Lee Smith PKWY, Suite 12A, Hiram Ga 30141</div>
</body>