@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "_Layout";
}
<title>Home Page</title>
<head>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
</head>
<div class="text-center">
    <a asp-page="/MainFun/List"><img class="logo1" src="~/img/pepeBusiness.png" /></a>
    <style>
        .logo {
            visibility: hidden;
        }
    </style>

</div>
