@page
@model ShoppingAttire.Pages.CategoryFun.InsertModel
@{
    Layout = "_Layout";
    ViewData["title"] = "Create Category";
}

<h2 class="mb-4">Create Category</h2>
 <style>
 body {
  
  color: #99eeb4;
  height: 100vh;
  display: flex;
}

/* We set the position to relative so that we can stack a blurred pseudo element on top of the original text */

span {
  position: relative;
  font-family: "Avenir Next", sans-serif;
  font-weight: 900;
  font-size: 32px;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 0.05em;
  display: inline-block;
}

/* We create a pseudo element and blur it using the SVG filter. We’ll grab the content from the custom HTML attribute. */

span:before {
  position: absolute;
  left: 0;
  top: 0;
  content: attr(filter-content);

  filter: url(#motion-blur-filter);
}

</style>
<form class="form-horizontal" method="post">

    <div class="form-group">
        <label asp-for="newishCategory.ShortName" class="control-label col-sm-2"></label>

        <div class="col-sm-6">
            <input asp-for="newishCategory.ShortName" class="form-control" />
        </div>

        <span asp-validation-for="newishCategory.ShortName"></span>
    </div>

    <div class="form-group">
        <label asp-for="newishCategory.LongName" class="control-label col-sm-2"></label>

        <div class="col-sm-6">
            <input asp-for="newishCategory.LongName" class="form-control" />
        </div>

        <span asp-validation-for="newishCategory.LongName"></span>
    </div>

    <div class="form-group">
        <label asp-for="newishCategory.Description" class="control-label col-sm-2"></label>

        <div class="col-sm-6">
            <input asp-for="newishCategory.Description" class="form-control" />
        </div>

        <span asp-validation-for="newishCategory.Description"></span>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10 mt-4">
            <button class="button-33">Submit</button>
        </div>
    </div>

</form>
