@page
@model ShoppingAttire.Pages.Admin.AdminRegistrationModel
@{
}
 <style>
 body {
  
  color: #99eeb4;
  height: 100vh;
  display: flex;
}

/* We set the position to relative so that we can stack a blurred pseudo element on top of the original text */

span {
  position: relative;
  font-family: "Avenir Next", sans-serif;
  font-weight: 900;
  font-size: 12px;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 0.05em;
  display: inline-block;
}

/* We create a pseudo element and blur it using the SVG filter. We’ll grab the content from the custom HTML attribute. */

span:before {
  position: absolute;
  left: 0;
  top: 0;
  content: attr(filter-content);

  filter: url(#motion-blur-filter);
}

</style>
<div class="container">
    <form class="form-horizontal" method="post">
        <div class="form-group">
            <label asp-for="regUser.UserName"></label>
            <div class="col-sm-6">
                <input asp-for="regUser.UserName" placeholder="Login"/>
            </div>
            
            <span asp-validation-for="regUser.UserName"></span>
        </div>

        <div class="form-group">
            <label asp-for="regUser.Password"></label>
            <div class="col-sm-6">
                <input asp-for="regUser.Password" placeholder="Password"/>
            </div>
            <span asp-validation-for="regUser.Password"></span>
        </div>

        <div class="form-group">
            <label asp-for="regUser.ConfirmPassword"></label>
            <div class="col-sm-6">
                <input asp-for="regUser.ConfirmPassword" placeholder="Confirm Password"/>
            </div>
            <span asp-validation-for="regUser.ConfirmPassword"></span>
        </div>
        
        <div class="form-group">
            <label class="control-label col-sm-2">Roles</label>
            <div class="col-sm-6">
                <select name="LinkedList" class="custom-selector" asp-items="Model.roleSelection"></select>    
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="button-33">Sign Up</button>
            </div>
        </div>
    </form>
</div>